body { padding-top:30px; }

#map {
        height: 420px;
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

#rest-search {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
}

#rest-search:focus {
        border-color: #4d90fe;
}

th {
        cursor: pointer;
}

.container {
        border-radius: 10px;
        background-color: #eeeeee;  
}

.login-div {
        padding-bottom: 100px;
}

.navbar-inverse .navbar-brand {
        color: white;
}

* {
        -webkit-user-select: none;       
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
}

.rest-info {
        float: left;
        width: 50%;
}

.rest-img{
        left: 35%;
        position: relative;
}

.review-table {
        margin-top: 50px;
        float: left;
}

.form-input{
        margin-top: 10px;
}

h3 {
        text-align: center;
}

.comment-form {
        float: left;
        top: 55px;
}

.restaurant-table{
        overflow-y: auto;
        width: 1140px;
        height: 420px;
}